<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="myreddit" ng-controller="RedditCtrl">
    <ion-pane>
      <ion-header-bar class="bar bar-calm">
        <h1 class="title">Speech Recognition in Android</h1>
        <button class="button button-balanced ion-mic-a" ng-click="record()">
          Speak
        </button>
      </ion-header-bar>
      <ion-content>
       
       <ion-refresher pulling-text="Pull to refresh..."
          on-refresh="loadNewerStories()">
        </ion-refresher>
        <div class="list">
          <a class="item item-thumbnail-left"
            ng-click="openLink(story.url)"
            ng-repeat="story in stories track by story.id">
            <img ng-src="{{story.thumbnail}}">
            <h2 class="story-title">{{story.title}}</h2>
            <p>
              <span am-time-ago="story.created_utc"
                am-preprocess="unix"></span>
              - {{story.domain}}
            </p>
          </a>
        </div>
        <ion-infinite-scroll distance="1%"
          on-infinite="loadOlderStories()">
        </ion-infinite-scroll>
      </ion-content>
    </ion-pane>
  </body>
</html>
